*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* common */
.text-center {
  text-align: center;
}

.p-8 {
  padding: 8px;
}

.ptb-5 {
  padding: 5px 0;
}

.mr-5 {
  margin-right: 5px;
}

.mt-8 {
  margin-top: 8px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mtb-8 {
  margin: 8px 0;
}

.link {
  text-decoration: underline;
}

.link:hover {
  text-decoration: none;
}

/* styles for elements */
.logo {
  font-size: 18px;
  font-weight: 800;
  color: #ffffff;
  cursor: pointer;
}
.navbar-container {
  background-color: rgb(5, 37, 83);
}

.navbar {
  background-color: inherit;
  color: white;
  font-size: 16px;
  font-weight: 800;
  border-bottom: none;
}

.ant-menu-item a {
  color: #ffffff !important;
  text-transform: uppercase;
  padding: 0 10px;
}

.ant-menu-item-active {
  background-color: #518428 !important;
}

.btn-section {
  margin: 50px 0;
}

.btn-section > button:first-child {
  margin-right: 10px;
}

.calc-box {
  background-color: #eee;
  padding: 10px 10px;
}

.heading {
  background-color: #369;
  padding: 8px;
  margin-bottom: 5px;
}

.title {
  color: #ffffff;
  font-size: 18px;
  font-weight: 800;
}

.label {
  font-size: 14px;
  font-weight: 500;
}

.calc-btn {
  background-color: #518428;
  color: #ffffff;
  font-weight: 500;
}

.calc-btn:hover,
.calc-btn:focus {
  border: 1px solid #518428;
  background-color: #518428;
  color: #ffffff;
  font-weight: 500;
}

.clear-btn {
  background-color: #55555594;
  color: #ffffff;
  font-weight: 500;
}

.clear-btn:hover, .clear-btn:focus {
  border: 1px solid #55555594;
  background-color: #55555594;
  color: #ffffff;
  font-weight: 500;
}

.search-btn {
  background-color: #369;
  color: #ffffff;
}

.calculator-links {
  border: 1px solid #369;
  border-top-width: 0;
  margin-top: -5px;
  padding: 8px;
}

.calculator-links .link {
  color: #369;
  display: block;
}

.related-links {
  background-color: #eee;
  margin: 40px 0 25px 0;
  padding: 15px;
  position: relative;
}

.related-links .rl-label {
  position: absolute;
  bottom: 45px;
  left: 15px;
  background-color: #eee;
  padding: 0 10px;
  font-size: 18px;
  font-weight: 800;
}

.rl-links {
  background-color: #369;
  padding: 8px 5px;
  color: #ffffff;
  font-weight: 800;
  margin-right: 5px;
}

.rl-links:hover {
  background-color: #518428;
  color: #ffffff;
}

.footer {
  background-color: #e1e1e1;
  padding: 20px;
}

.footer .link {
  position: relative;
  margin-right: 10px;
  color: #444;
  font-weight: 500;
  font-size: 16px;
}

.footer .link::after {
  content: "";
  height: 25px;
  width: 1px;
  background-color: #444;
  right: -5px;
  position: absolute;
}

.footer .link:last-child::after {
  display: none;
}
